###### APLICATION ENV ######
APP_PORT=8080

DB_NAME=postgres
POSTGRES_URL=postgres://docker:docker@localhost:5432/postgres_go_kit_test?sslmode=disable
DATABASE_MAX_CONNECTIONS=16
MIGRATION_PATH=file://migrations

RABBIT_URL=amqp://guest:guest@localhost:5672

###### DEPENDENCIES ENV ######
EXTERNAL_PGSQL_PORT=5432

RABBIT_MANAGEMENT_PORT=15672
RABBIT_PORT=5672